@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@500&display=swap');

@font-face {
  font-family: 'Bitcount Grid Double';
  src: url('../../assets/fonts/BitcountGridDouble.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libertinus Mono';
  src: url('../../assets/fonts/LibertinusMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-header: linear-gradient(90deg, #FF66C4, #FFDE59);
  --color-background: #DCEAB2;
  --color-secondary: #FFDE59;
  --color-black: black;
  --color-white: white;
  --color-dark: #2d262c;
  --color-brown: #6d574e;

  --font-mono: 'Libertinus Mono', monospace;
  --font-bitcount: 'Bitcount Grid Double', monospace;
}
